.siri-background {
    background: #f4f8ff;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.siri-background .introduction-afya {
    font-size: 35px;
    font-weight: 600;
    line-height: 54.25px;
    color: #272848;
}

.introduction-afya-sub {
    font-size: 45px;
    font-weight: 600;
    color: #0167ff;
}

.afya-explaination {
    color: #52525b;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.comming-soon-afya {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.right-siri-content {
    display: flex;
    flex-direction: column;
}

.afya-siri-content .siri-head {
    font-size: 28px;
    font-weight: 500;
    color: #272848;
}

.afya-siri-content .siri-list {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.siri-list .afya-tick {
    width: 20px;
    height: 20px;
    margin-top: 3.5px;
}

.siri-list p {
    color: #52525b;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 370px;
}

.afya-zip-container {
    max-width: 350px;
    max-height: 350px;
}

.afya-zip {
    width: 100%;
}

@media (max-width: 1200px) and (min-width: 998px) {
    .comming-soon-afya {
      display: flex;
      flex-direction: row; 
      justify-content: space-between;
      gap: 20px; 
    }
  }

/* Responsive Styles */
@media (max-width: 1024px) {
    .siri-background {
        padding: 50px;
        gap: 15px;
    }

    .siri-background .introduction-afya {
        font-size: 30px;
    }

    .introduction-afya-sub {
        font-size: 40px;
    }

    .comming-soon-afya {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 998px) {

    .siri-list p {
        color: #52525b;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        max-width: 600px;
    }

    .comming-soon-afya {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .afya-zip-container {
        order: 1; 
        width: 250px;
        height: 250px;
    }

    .afya-siri-content:first-of-type {
        order: 2;
    }

    .afya-siri-content:last-of-type {
        order: 3; 
    }
}

@media (max-width: 768px) {
    .siri-background {
        padding: 30px;
    }

    .siri-background .introduction-afya {
        font-size: 28px;
    }

    .introduction-afya-sub {
        font-size: 35px;
    }

    .afya-explaination {
        font-size: 14px;
    }


    .siri-list p {
        width: 100%;
    }

}

@media (max-width: 480px) {
    .siri-background {
        padding: 20px;
    }

    .siri-background .introduction-afya {
        font-size: 24px;
    }

    .introduction-afya-sub {
        font-size: 30px;
    }

    .afya-explaination {
        font-size: 12px;
    }

    .siri-list p {
        font-size: 14px;
        line-height: 22px;
    }

    .afya-zip-container {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 480px) {
   
}
